html,body{
    font-family: roboto-regular;
    margin: 0;
    padding: 0;
}






.roboto-thin {
    font-family: roboto-thin;
}

.roboto-regular {
    font-family: roboto-regular;
}

.roboto-medium {
    font-family: roboto-medium;
}

.roboto-bold {
    font-family: roboto-bold;
}

.roboto-black {
    font-family: roboto-black;
}
.roboto-light {
    font-family: roboto-light;
}



@font-face {
    font-family:roboto-thin ;
    src: url(../fonts/Roboto_1/Roboto-Thin.ttf);
}

@font-face {
    font-family:roboto-light ;
    src: url(../fonts/Roboto_1/Roboto-Light.ttf);
}

@font-face {
    font-family: roboto-regular;
    src: url(../fonts/Roboto_1/Roboto-Regular.ttf);
}

@font-face {
    font-family: roboto-medium;
    src: url(../fonts/Roboto_1/Roboto-Medium.ttf);
}

@font-face {
    font-family: roboto-bold;
    src: url(../fonts/Roboto_1/Roboto-Bold.ttf);
}

@font-face {
    font-family: roboto-black;
    src: url(../fonts/Roboto_1/Roboto-Black.ttf);
}